<h1>Editing Forms Configured In Application</h1>

<%= render 'form' %>

<%= link_to 'Show', @form_builder, :class=>"btn btn-inverse" %> |
<%= link_to 'Back', form_builders_path, :class=>"btn btn-inverse" %>
