Auto Generated the following Analysers:<br>
<table class="table table-bordered table-striped table-condensed table-hover">
  <tr>
    <th>Analyser</th>
  </tr>

<% @generated_analysers.each do |qc| %>
  <tr>
	<td><%= qc.analyser %> </td>
  </tr>
<% end %>
</table>