<li class="dropdown">
    <a href="/iqcs" class="dropdown-toggle" data-toggle="dropdown">IQC datapoints<b class="caret"></b></a>
    <ul class="dropdown-menu">
      <a href="/iqc_data/new?"><strong>New IQC</strong> <span>Create a new IQC data point</span></a>
      <li><a href="#">Another action</a></li>
      <li><a href="#">Something else here</a></li>
      <li class="divider"></li>
      <li class="nav-header">Nav header</li>
      <li><a href="#">Separated link</a></li>
      <li><a href="#">One more separated link</a></li>
    </ul>
  </li>