<li class="dropdown">
    <a href="/iqcs" class="dropdown-toggle" data-toggle="dropdown">IQC Materials<b class="caret"></b></a>
    <ul class="dropdown-menu">
      <li><%= link_to('New IQC Material'.html_safe, new_iqc_path)  %></li>
      <li><%= link_to('List all IQC materials'.html_safe, iqcs_path)  %></li>
    </ul>
  </li>