Auto Generated the following qcs:<br>
<table class="table table-bordered table-striped table-condensed table-hover">
  <tr>
    <th>QC Lot</th>
  </tr>

<% @geniqc.each do |qc| %>
  <tr>
	<td><%= qc.qclot %> </td>
  </tr>
<% end %>
</table>