<div id='chart'></div>
<%= render_chart(@chart, 'chart') %>

<p>
  <b>Select test code to view performance:</b>
  	<%= form_tag("sigmaplot", :method => "post", :class => ".form-inline") do %>		
		
		<fieldset>
		<%=select("test_code_id", "id", TestCode.all.collect {|p| [ p.testExpansion, p.id ] }, {:prompt => 'Select Test'}) %>
		</fieldset>
		<%= submit_tag("View Performance", :class => "btn btn-primary") %>
	<% end %>
