<p>
  <b>Select test code to view performance:</b>
  	<%= form_tag("/search", :method => "get") do %>
		<%= collection_select(:testCode, :testCode, @test_codes, :testCode, :testExpansion) %>
		<%= submit_tag("View Performance") %>
	<% end %>

<h2>Quality Specifications Management</h2>
<%= link_to "List Quality Specifications", quality_specifications_path%>
</p>

