<h1>Editing quality_specification</h1>

<%= render 'form' %>

<%= link_to 'Show', @quality_specification, :class=>"btn btn-success" %> |
<%= link_to 'Back', quality_specifications_path, :class=>"btn btn-inverse" %>
