<% if @iqc == false %>
	<div id="error_explanation">
		<div class="alert alert-error">
		Error Adding Record
		</div>
	</div>
<% else %>
<div class="alert alert-success">
Record Imported
</div>
<% end %>
