Auto Generated the following testcodes:<br>
<table class="table table-bordered table-striped table-condensed table-hover">
  <tr>
    <th>Testname</th>
  </tr>

<% @gentest.each do |qc| %>
  <tr>
	<td><%= qc.testname %> </td>
  </tr>
<% end %>
</table>