<p id="notice"><%= notice %></p>

<p>
  <b>Class type:</b>
  <%= @analyser_class.class_type %>
</p>


<%= link_to 'Edit', edit_analyser_class_path(@analyser_class) %> |
<%= link_to 'Back', analyser_classes_path %>
